.south-side-block .top{
    display: flex;
    justify-content: space-between;
    background: #157FCC;
    padding:10px;
}

.south-side-drag-zone{
    height: 8px;
}

.south-side-block{
    background: #FFFFFF;
}

.south-side-block .description{
    height: 64px;
}

.south-side-block-folded .top{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    background: #157FCC;
    padding: 10px;
}

/* drag zone button */
.south-side-drag-zone{
    position: relative;
    cursor: col-resize;
}

.south-side-drag-zone .button{
    width: 70px;
    height: 100%;
    background: red;

    position: absolute;
    left: 45%;
    cursor: pointer;
}