/* body west side */
.west-side-block, .east-side-block{ /*.east-side-block이랑 중복됨*/
    width:100%;
}

.west-side-drag-zone, .east-side-drag-zone, .west-side-folded-drag-zone{
    width:8px;
}

.west-side-block .top{ /*.east-side-block .top이랑 중복됨*/
    background: #157FCC;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.west-side-block .category{
    background: #FFFFFF;
    padding: 5px;
}

.navigation-button-wrapper,
.settings-button-wrapper,
.information-button-wrapper
{
    background: #DFEAF2;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.settings-button-wrapper,
.information-button-wrapper{
    margin-top:5px;
}


.button-name{
    display: flex;
    justify-content: center;
    align-items: center;
}

.category .category-img{
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.navigation-button-wrapper .category-img{
    background-image: url('https://docs.sencha.com/extjs/4.2.2/extjs-build/examples/shared/icons/fam/folder_go.png');
}

.settings-button-wrapper .category-img{
    background-image: url('https://docs.sencha.com/extjs/4.2.2/extjs-build/examples/shared/icons/fam/folder_wrench.png');
}

.information-button-wrapper .category-img{
    background-image: url('https://docs.sencha.com/extjs/4.2.2/extjs-build/examples/shared/icons/fam/information.png');
}

/* west side 접혔을 때*/
.west-side-block-folded, .east-side-block-folded{
    background: #157FCC;
    height: 742px;
    padding: 10px;
}

.west-side-block-folded .folded-button, .east-side-block .button{
    background-position: 1px -176px;
}

/* body middle */
.middle{
    width:100%;
}

.middle-block{
    background-color: #157FCC;
}

.middle-block .category, .east-side-block .category{ /* east side 같이 적용 */
    display: flex;
}

.category .close-me-button,.center-panel-button,
.property-grid-button, .a-tab-button /* east side 같이 적용 */
{
    height: 31px;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background: #4B9CD7;
    color: #FFFFFF;
}

.category .category-click-true{
    background: #ADD2ED;
    color: #157fcc;
}

.category .close-me-button{
    padding-right: 28px;
}

.center-panel-button, .property-grid-button{
    margin-left: 2px;
}

.middle-block .close-me-description, .center-panel-description{
    height: 721px;
    overflow: auto;
    background: #FFFFFF;
    transition: height 0.5s ease-in-out;
}

.middle-block .short{
    height: 657px;
}

.close-me-block, .property-grid-block{
    position: relative;
}

.close-me-close-icon, .property-grid-close-icon{
    background-image: url('https://docs.sencha.com/extjs/4.2.2/extjs-build/resources/ext-theme-neptune/images/tab/tab-default-close.png');
    position: absolute;
    top:0;
    right: 5px;
    cursor: pointer;

    width:12px;
    height: 12px;
}

.bottom-border, .top-border{
    background: #ADD2ED;
    width: 100%;
    height: 10px;
}

.hidden-description{
    display: none;
}

/* body east side */
.east-side-block .top{
    background: #157FCC;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.east-side-block .category{
    background: #157FCC;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.east-side-block .property-grid-description, .a-tab-description{
    padding-top: 36px;
    height: 645px;
    background: #FFFFFF;
    transition: height 0.5s ease-in-out;
}

.east-side-block .short{
    height: 581px;
}

.east-side-block .a-tab-description p{
    margin: 0;
}

.property-grid-table{
    border-collapse: collapse;
}

.property-grid-table tr:nth-child(odd){
    background: #F5F5F5;
}

.property-grid-table th, td{
    border: 1px solid #EDEDED; 
    padding:5px 10px;
    font: normal 13px helvetica, arial, verdana, sans-serif;
}

.property-grid-table .first-col-icon, .second-col-icon{
    background-image: url('https://docs.sencha.com/extjs/4.2.2/extjs-build/resources/ext-theme-neptune/images/grid/sort_asc.png');
    width: 15px;
    height: 15px;
}

.property-grid-table .hidden-col-icon{
    display: none;
}

.property-grid-icon-rotate{
    transform: rotate(180deg);
}

.first-col, .second-col{
    cursor: pointer;
    display: flex;
}

.second-col .icon{
    display: none;
}

/* drag zone button*/
.east-side-drag-zone, 
.west-side-drag-zone, 
.west-side-folded-drag-zone{
    position: relative;
    cursor: col-resize;
}

.east-side-drag-zone .drag-zone-button, 
.west-side-drag-zone .drag-zone-button, 
.west-side-folded-drag-zone .button{
    width: 100%;
    height: 49px;

    position: absolute;
    top: 45%;
    cursor: pointer;
}

.west-side-drag-zone .drag-zone-button{
    background-image: url('https://docs.sencha.com/extjs/4.2.2/extjs-build/resources/ext-theme-neptune/images/util/splitter/mini-left.png');
}
.west-side-folded .drag-zone-button{
   transform: rotate(180deg);
}

.east-side-drag-zone .drag-zone-button{
    background-image: url('https://docs.sencha.com/extjs/4.2.2/extjs-build/resources/ext-theme-neptune/images/util/splitter/mini-right.png');
}
.east-side-folded .drag-zone-button{
    transform: rotate(180deg);
 }

 .west-side-block button{
    border: none;
    cursor: pointer;
    width: 17px;
    height: 16px;
}

.west-side-block .top .button, .east-side-block-folded .folded-button,
.east-side-block .top .button, .west-side-block-folded .folded-button
{
    background-image: url('https://docs.sencha.com/extjs/4.2.2/extjs-build/resources/ext-theme-neptune/images/tools/tool-sprites.png');
    background-color: #157FCC;

    border: none;
    cursor: pointer;
    width: 17px;
    height: 16px;
    opacity: 0.5;
}

.west-side-block .top .button, .east-side-block-folded .folded-button{
    background-position: 1px -192px;
}

.category .navigation-button, .settings-button, .information-button{
    background-image: url('https://docs.sencha.com/extjs/4.2.2/extjs-build/resources/ext-theme-neptune/images/tools/tool-sprites-dark.png');
}

.west-category-panel{
    height: 0px;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
} 

.west-category-button{
    background-position: 1px -255px;
}

.open-west-panel .west-category-button{
    background-position: 1px -272px;
}

.open-west-panel .west-category-panel{
    height: 578px;
}

.open-west-panel .short{
    height: 514px;
}

.west, .east{
    position: relative;
}

.west-folded-folder-close, .west-spread-folder-close,
.east-folded-folder-close, .east-spread-folder-close{
    width: 0;
    overflow: hidden;
    padding: 0;
    height: 743px;
}

.short-wrap{
    height: 679px;
}

.west-spread-folder-close{
    animation: westFadeOut 0.4s linear;
}

.west-folded-folder-open{
    animation: westFadeIn 0.8s linear;
}

.west-spread-folder-open{
    animation: westFadeOut2 0.4s linear;
}

@keyframes westFadeOut{
    from{
        position:absolute;
        z-index: 1;
        width: 175px;
        left: 0px;
    }
    to{
        position:absolute;
        z-index: 1;
        width: 175px;
        left: -200px;
    }
}

@keyframes westFadeIn {
    from {
        transform: translateX(-200px);
    }
    to {
        transform: translateX(0px);
    }
}

@keyframes westFadeOut2{
    from{
        position:absolute;
        z-index: 1;
        width: 175px;
        left: -200px;
    }
    to{
        position:absolute;
        z-index: 1;
        width: 175px;
        left: 0px;
    }
}

.east-spread-folder-close{
    animation: eastFadeOut 0.4s linear;
}

.east-folded-folder-open{
    animation: eastFadeIn 0.8s linear;
}

.east-spread-folder-open{
    animation: eastFadeOut2 0.4s linear;
}

@keyframes eastFadeOut{
    from{
        position:absolute;
        z-index: 1;
        width: 250px;
        right: 0px;
    }to{
        position:absolute;
        z-index: 1;
        width: 250px;
        right: -300px;
    }
}

@keyframes eastFadeOut2{
    from{
        position:absolute;
        z-index: 1;
        width: 250px;
        right: -250px;
    }to{
        position:absolute;
        z-index: 1;
        width: 250px;
        right: 0px;
    }
}

@keyframes eastFadeIn {
    from {
        transform: translateX(250px);
    }
    to {
        transform: translateX(0px);
    }
}

/* south */
.south-side-block .top{
    display: flex;
    justify-content: space-between;
    background: #157FCC;
    padding:10px;
}

.south-folded-folder-close, .south-spread-folder-close{
    height: 0;
    overflow: hidden;
    padding: 0;
}

.south-side-drag-zone{
    height: 8px;
}

.south-side-block{
    background: #FFFFFF;
}

.south-side-block .south-description{
    height: 64px;
}

.south-side-block-folded .top{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    background: #157FCC;
    padding: 10px;
}

/* drag zone button */
.south-side-drag-zone{
    position: relative;
    cursor: col-resize;
}

.south-side-drag-zone .button{
    width: 48px;
    height: 100%;
    background-image: url('https://docs.sencha.com/extjs/4.2.2/extjs-build/resources/ext-theme-neptune/images/util/splitter/mini-top.png');

    position: absolute;
    left: 45%;
    cursor: pointer;
}

.south-side-folded .button{
    transform: rotate(180deg);
}

.south-side-block .top .button, .south-side-block-folded .folded-button
{
    background-image: url('https://docs.sencha.com/extjs/4.2.2/extjs-build/resources/ext-theme-neptune/images/tools/tool-sprites.png');
    background-color: #157FCC;

    border: none;
    cursor: pointer;
    width: 17px;
    height: 16px;
    opacity: 0.5;
}

.south-side-block .top .button{
    background-position: 0 -208px;
}

.south-side-block-folded .folded-button{
    background-position: 0 -224px;
}

.south-folded-folder-open{
    animation: southFadeIn 0.4s linear;
}

.south-spread-folder-close{
    animation: southFadeOut 0.2s linear;
}

.south-spread-folder-open{
    animation: southFadeIn2 0.4s linear;
}

.south-folded-folder-close{
    animation: southFadeOut2 0.4s linear;
}

@keyframes southFadeIn {
    from {
        transform: translateY(80px);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes southFadeOut{
    from{
        position:absolute;
        z-index: 1;
        height: 64px;
        width:98%;
        bottom: 0px;
    }to{
        position:absolute;
        z-index: 1;
        height: 64px;
        width:98%;
        bottom: -80px;
    }
}

@keyframes southFadeIn2{
    from{
        transform: translateY(80px);
    }to{
        transform: translateY(0px);
    }
}

@keyframes southFadeOut2 {
    from{
        position:absolute;
        z-index: 1;
        height: 64px;
        width:98%;
        bottom: 0px;
    }to{
        position:absolute;
        z-index: 1;
        height: 64px;
        width:98%;
        bottom: -80px;
    }
}