.south-side-block .top{
    display: flex;
    justify-content: space-between;
    background: #157fcc;
}

.south-side-block{
    background: white;
}

.south-side-block-folded .top{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    background: #157fcc;
}