/* body west side */
.west-side-block, .east-side-block{ /*.east-side-block이랑 중복됨*/
    width:100%;
}

.west-side-drag-zone, .east-side-drag-zone{
    width:8px;
}

.west-side-block .top{ /*.east-side-block .top이랑 중복됨*/
    background: #157fcc;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.west-side-block .category{
    background: #ffffff;
    padding: 5px;
}

.navigation-panel,.settings-panel, .information-panel{
    height: 578px;
}

.navigation-button-wrapper,
.settings-button-wrapper,
.information-button-wrapper
{
    background: #dfeaf2;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.settings-button-wrapper,
.information-button-wrapper{
    margin-top:5px;
}

/* west side 접혔을 때*/
.west-side-block-folded, .east-side-block-folded{
    background: #157fcc;
    height: 730px;
    padding: 10px;
}

/* body middle */
.middle{
    width:100%;
}

.middle-block{
    background-color: #157fcc;
}

.middle-block .category, .east-side-block .category{ /* east side 같이 적용 */
    display: flex;
}

.category .close-me-button,.center-panel-button,
.property-grid-button, .a-tab-button /* east side 같이 적용 */
{
    height: 41px;
    padding:8px 12px;
    background: #4b9cd7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
}

.center-panel-button, .property-grid-button{
    margin-left: 3px;
}

.middle-block .description{
    height: 721px;
    overflow: auto;
    background: #ffffff;
}

.close-me-block, .property-grid-block{
    position: relative;
}

.close-me-close-icon, .property-grid-close-icon{
    position: absolute;
    top:0;
    right: 5px;
    cursor: pointer;
}

/* body east side */
.east-side-block .top{
    background: #157fcc;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.east-side-block .category{
    background: #157fcc;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.east-side-block .grid-description{
    height: 680px;
    background: #ffffff;
}

.east-side-block .grid-description p{
    margin: 0;
}

.east-side-block .grid-description table{
    margin:0 auto;
}

.first-col, .second-col{
    cursor: pointer;
}

.second-col .icon{
    display: none;
}

/* drag zone button*/
.east-side-drag-zone, .west-side-drag-zone{
    position: relative;
    cursor: col-resize;
}

.east-side-drag-zone .button, .west-side-drag-zone .button{
    width: 100%;
    height: 70px;
    background: red;

    position: absolute;
    top: 45%;
    cursor: pointer;
}