.west-side-block{
    max-width: 400px;
}

.west-side-block .top{
    background: #157fcc;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.west-side-block .top .button{
    background: red;
}

.west-side-block .middle{
    background: #ffffff;
    padding: 5px;
}

.navigation-panel{
    height: 578px;
}

.navigation-button,
.settings-button,
.information-button
{
    background: #dfeaf2;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

